.site-title a,
.site-description,
#before-header * {
	color: #fff;
}
.main-navigation .sub-menu li {
	background: rgba(0,0,0,0.9);
}
.main-navigation .sub-menu .sub-menu li {
	background: rgba(0,0,0,0.8);
}
#colophon,
#before-footer {
	color: #999;
}
#colophon,
#before-footer {
	h1, h2, h3, h4, h5, h6,
	a {
		color: #ccc;	
	}
	
}
#content a:visited {
	color: lighten($bodytextcolor, 35%);
}
#content a:hover {
	color: darken($bodytextcolor, 35%);
}

/* =Color Schemes
----------------------------------------------- */

.scheme-black {
	$accent_color: #1f1f1f;
	$background_color: #fafafa;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #272727;
		border-bottom: 5px solid $accent_color;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #171717;
		border-bottom: 1px solid #1c1c1c;
	}
	#colophon {
		border-top: 1px solid #0d0d0d;
	}
	#colophon,
	#after-footer {
		background: #131313;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-black.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#1a1a1a, #272727)
	);
}

.scheme-white {
	$accent_color: #ececec;
	$background_color: #fcfcfc;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #fff !important;
		border-bottom: 1px solid $accent_color;
	}
	#masthead .site-title a,
	#masthead .site-description {
		color: darken($bodytextcolor, 5%);
	}
	.main-navigation ul ul {
		padding-top: 1px;
	}
	.main-navigation ul ul ul {
		padding-top: 0;
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: #fff;
		border: 1px solid #f0f0f0;
		border-top: none;
	}
	.main-navigation a {
		color: #777;
	}
	.main-navigation a:hover {
		color: #555;
	}
	.main-navigation > ul > .menu-parent-item > a:before {
		border-top-color: #777;
	}
	.main-navigation .sub-menu .menu-parent-item > a:after {
		border-left-color: #777; 
	}
	#after-header {
		background: #f0f0f0;
		border-bottom: 1px solid #e8e8e8;
	}
	.sticky {
		border-bottom: 3px solid darken($accent_color, 10%);
	}
	#before-footer {
		background: #fcfcfc;
		border-bottom: 1px solid #f0f0f0;
	}
	#colophon {
		border-top: 1px solid #f0f0f0;
	}
	#colophon,
	#after-footer {
		background: #fff;
	}
}
.scheme-white.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#1a1a1a, #272727)
	);	
}

.scheme-blue {
	$accent_color: #193b69;
	$background_color: #f5f7fa;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #1d4e8e;
		border-bottom: 5px solid $accent_color;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #1a1d21;
		border-bottom: 1px solid #1e2226;
	}
	#colophon {
		border-top: #121417;
	}
	#colophon,
	#after-footer {
		background: #18191d;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-blue.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#163a68, #1d4e8e)
	);
}

.scheme-brown {
	$accent_color: #423c37;
	$background_color: #faf7f5;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #60554e;
		border-bottom: 5px solid #423c37;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #26211e;
		border-bottom: 1px solid #2b2622;
	}
	#colophon {
		border-top: #171412;
	}
	#colophon,
	#after-footer {
		background: #211d1b;		
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-brown.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#423a35, #60554e)
	);
}

.scheme-candy-red {
	$accent_color: #61132e;
	$background_color: #faf5f7;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #8c163f;
		border-bottom: 5px solid #61132e;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #1f1f1f;
		border-bottom: 1px solid #242424;
	}
	#colophon {
		border-top: #171717;
	}
	#colophon,
	#after-footer {
		background: #1f1f1f;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-candy-red.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#600f2b, #8c163f)
	);
}

.scheme-cobalt {
	$accent_color: #363b42;
	$background_color: #f5f7fa;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #4b535d;
		border-bottom: 5px solid #363b42;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #1f2326;
		border-bottom: 1px solid #24282b;
	}
	#colophon {
		border-top: #121517;
	}
	#colophon,
	#after-footer {
		background: #191c1f;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-cobalt.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#32373d, #4b535d)
	);
}


.scheme-grey {
	$accent_color: #474747;
	$background_color: #fafafa;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #656565;
		border-bottom: 5px solid #474747;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #2b2b2b;
		border-bottom: 1px solid #303030;
	}
	#colophon {
		border-top: #1f1f1f;
	}
	#colophon,
	#after-footer {
		background: #262626;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-grey.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#424242, #656565)
	);
}

.scheme-lime-green {
	$accent_color: #426f15;
	$background_color: #f7faf5;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #579718;
		border-bottom: 5px solid #426f15;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #292929;
		border-bottom: 1px solid #303030;
	}
	#colophon {
		border-top: #1a1a1a;
	}
	#colophon,
	#after-footer {
		background: #1e1e1e;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-lime-green.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#3e6c11, #579718)
	);
}

.scheme-orange {
	$accent_color: #9b420e;
	$background_color: #faf7f5;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #e0580e;
		border-bottom: 5px solid #9b420e;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #292929;
		border-bottom: 1px solid #303030;
	}
	#colophon {
		border-top: #1a1a1a;
	}
	#colophon,
	#after-footer {
		background: #1e1e1e;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-orange.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#973c09, #e0580e)
	);
}

.scheme-plum-purple {
	$accent_color: #322c3a;
	$background_color: #f7f5fa;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #41394d;
		border-bottom: 5px solid #322c3a;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #1f1e21;
		border-bottom: 1px solid #242326;
	}
	#colophon {
		border-top: #151517;
	}
	#colophon,
	#after-footer {
		background: #1b1a1d;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-plum-purple.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#2d2734, #41394d)
	);
}

.scheme-red {
	$accent_color: #801c20;
	$background_color: #faf5f5;
	
	#main {
		background-color: $background_color;
	}
	#masthead {
		background: #ac2026;
		border-bottom: 5px solid #801c20;
	}
	.main-navigation > ul > li:hover > a {
		text-shadow: 0 0 5px darken(#474747, 50%);
	}
	.main-navigation .sub-menu li,
	.main-navigation .sub-menu .sub-menu li {
		background: $accent_color;
	}
	.main-navigation .sub-menu li:hover {
		background: darken($accent_color, 10%);
	}
	#after-header {
		background: darken($background_color, 5%);
		border-bottom: 1px solid darken($background_color, 10%);
	}
	.sticky {
		border-bottom: 3px solid $accent_color;
	}
	#before-footer {
		background: #292929;
		border-bottom: 1px solid #242326;
	}
	#colophon {
		border-top: #1a1a1a;
	}
	#colophon,
	#after-footer {
		background: #1e1e1e;
	}
	#commentform #submit,
	.wpcf7-submit {
		background: $accent_color;
	}
}
.scheme-red.header-gradient #masthead {
	@include background-image(
		url(images/grain.png),
		linear-gradient(#7d181c, #ac2026)
	);
}