/* =Layout
----------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


#page {
	overflow: hidden;
}
.inner {
	padding: 0 20px;
	padding: 0 2rem;
}
.inner,
.layout-boxed #page {
	margin: 0 auto;
	width: 100%;
	max-width: 1040px;
	@include box-sizing(border-box);
}
.layout-boxed #page {
	@include box-shadow(rgba(0,0,0,0.25) 0 0 1em);
}
#main {
	padding: 30px 0;
	padding: 3rem 0;
}
#before-header {
	padding-bottom: 20px;
	padding-bottom: 2rem;
	
	.widget {
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
	.widget:last-child {
		margin-bottom: 0;
	}
}
#masthead {
	padding: 20px 0 0;
	padding: 2rem 0 0;
	
	hgroup {
		margin-bottom: 15px;
		margin-bottom: 1.5rem;
	}
	.site-title {
		margin: 0 0 5px;
		margin: 0 0 0.5rem;
		display: inline-block;
		@include font-size(40);
	}
	.header-image {
		display: block;
		margin: 0 auto 5px;
		margin: 0 auto 0.5rem;
	}
	.site-description {
		margin: 0;
		@include font-size($bodyfontsize * 0.875); // 14px
	}
	.site-title a {
		text-decoration: none;
	}
}
#after-header {
	padding: 10px 0;
	padding: 1rem 0;
	
	.widget {
		margin: 10px 0;
		margin: 1rem 0;
	}
	#yoast-breadcrumbs + .widget {
		margin-top: 20px;
		margin-top: 2rem;
	}
}
#colophon {
	padding-top: 20px;
	padding-top: 2rem;
	
	#footer-sidebars {
		padding-bottom: 30px;
		padding-bottom: 3rem;
	}
	#after-footer {
		padding-bottom: 20px;
		padding-bottom: 2rem;
	}
	#footer-nav {
		@include font-size($bodyfontsize * 0.875); // 14px
		padding-bottom: 20px;
		padding-bottom: 2rem;
		
		.footer-navigation {
			float: right;
			width: 66.666%;
		}
		#footer-credits {
			float: left;
			width: 33.333%;
		}
	}
}
#before-footer {
	padding: 20px 0;
	padding: 2rem 0;
}
#before-content,
#after-content {
	margin-bottom: 30px;
	margin-bottom: 3rem;
}

/* Widgetized homepage template */
.page-template-page-templatestemplate-homepage-php .hentry {
	background: none;
	box-shadow: none;
	padding: 10px 0;
	padding: 1rem 0;
	
	.entry-content {
		padding-bottom: 0;
	}
	#homepage-aside + .entry-content {
		margin-right: 50%;
		padding-right: 30px;
		padding-right: 3rem;
	}
}
#homepage-aside {
	float: right;
	width: 50%;
	
	img {
		width: 100%;
		height: auto;
	}
}


/*
	Responsive grid layouts
	Widths are in percentages
	Based on 1000px wide layout
---------------------------------------------------- */

/* Layout: Full width */

/* Layout: Content - Primary Sidebar */
.layout-cp {
	.content-area {
		float: left;
		margin: 0 -34% 0 0;
		width: 100%;
	}
	#content {
		margin: 0 34% 0 0;
	}
	#secondary {
		float: right;
		width: 30%;
	}	
}

/* Layout: Content - Primary Sidebar - Secondary Sidebar */
.layout-cps {
	.content-area {
		float: left;
		width: 100%;
	}
	#content {
		margin: 0 44% 0 0;
	}
	#main .widget-area {
		float: left;
	}
	#secondary {
		width: 22%;
		margin: 0 0 0 -40%;
	}
	#tertiary {
		width: 16%;
		margin: 0 0 0 -16%;
	}
}

/* Layout: Primary Sidebar - Content - Secondary Sidebar */
.layout-pcs {
	.content-area {
		float: left;
		width: 100%;
	}
	#content {
		margin-left: 26%;
		margin-right: 20%;
	}
	#main .widget-area {
		float: left;
	}
	#secondary {
		width: 22%;
		margin: 0 0 0 -100%;
	}
	#tertiary {
		width: 16%;
		margin: 0 0 0 -16%;
	}
}

/* Layout: Primary Sidebar - Content */
.layout-pc {
	.content-area {
		float: right;
		margin: 0 0 0 -34%;
		width: 100%;
	}
	#content {
		margin: 0 0 0 34%;
	}
	#secondary {
		float: left;
		width: 30%;
	}
}

/* Layout: Primary Sidebar - Secondary Sidebar - Content */
.layout-psc {
	.content-area {
		float: right;
		margin: 0 0 0 -44%;
		width: 100%;
	}
	#content {
		margin: 0 0 0 44%;
	}
	#main .widget-area {
		float: left;
	}
	#secondary {
		width: 22%;
}
	#tertiary {
		width: 16%;
		margin-left: 2%;
	}
}

.site-footer {
	clear: both;
	width: 100%;
}

/* Dynamic width widgets */
.dynamic-widget-width .widget {
	float: left;
	width: 33.333%;
	padding: 0 15px;
	padding: 0 1.5rem;
	@include box-sizing(border-box);
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;

	&:nth-child(3n+1) {
		clear: left;
		padding-left: 0;
	}
	&:nth-child(3n+3) {
		padding-right: 0;
	}
}
.dynamic-widget-width.widget-count-1 .widget {
	float: none;
	width: 100%;
	padding: 0;
}
.dynamic-widget-width.widget-count-2 .widget {
	width: 50%;
	
	&:first-child {
		padding: 0 15px 0 0;
		padding: 0 1.5rem 0 0;
	}
	&:last-child {
		padding: 0 0 0 15px;
		padding: 0 0 0 1.5rem;
	}
}


/* Homepage widgets */
#homepage-widget-area .widget {
	.homepage-inner {
		background: #fff;
		box-shadow: 0 0 2px rgba(0,0,0,0.15);
		padding: 20px;
		padding: 2rem;
		@include box-sizing(border-box);
	}
}

/* Footer widgets */
#footer-widget-area {
	margin-bottom: 30px;
	margin-bottom: 3rem;
}