/* =Navigation
----------------------------------------------- */

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	display: inline-block;
	position: relative;
	margin-right: 0.75em;
	@include font-size($bodyfontsize * 0.875); // 14px
}
.main-navigation > ul > li {
	margin-right: 30px;
	margin-right: 3rem;
}
.main-navigation li li {
	margin-right: 0;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0.75em 0;
	line-height: 1;
	position: relative;
}
.main-navigation ul ul {
	display: none;
	float: left;
	position: absolute;
	top: 2.5em;
	left: 0;
	z-index: 99999;
	text-align: left;
	padding-top: 5px;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
	padding-top: 0;
}
.main-navigation ul ul a {
	width: 200px;
	padding: 0.75em;
	@include box-sizing(border-box);
}
.main-navigation ul ul li {
	margin-right: 0;
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}
/* Parent item indicator */
.main-navigation > ul > .menu-parent-item > a {
	padding-left: 1em;
}
.main-navigation > ul > .menu-parent-item > a:before {
	content: "";
	display: inline-block;
	margin-right: 0.4em;
	position: absolute;
	top: 50%;
	left: 0;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent; 
	border-top: 6px solid #fff;
	opacity: 0.9;
}
.main-navigation .sub-menu .menu-parent-item > a {
	padding-right: 1.5em;
}
.main-navigation .sub-menu .menu-parent-item > a:after {
	content: "";
	display: inline-block;
	margin-left: 0.5em;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -4px;
	margin-right: 0.6em;
	width: 0;
	height: 0;
	border-top: 0.3em solid transparent;
	border-bottom: 0.3em solid transparent; 
	border-left: 0.5em solid #fff; 
	opacity: 0.9;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}

/* Post navigation */
#main .post-navigation,
#main .paging-navigation,
#main #image-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
	@include font-size($bodyfontsize * 0.875); // 14px
	
	.nav-previous,
	.previous-image {
		float: left;
		width: 50%;
		padding-right: 0.5em;
		@include box-sizing(border-box);
	}
	.nav-next,
	.next-image {
		float: right;
		width: 50%;
		padding-left: 0.5em;
		text-align: right;
		@include box-sizing(border-box);
	}
	a {
		text-decoration: none;
		color: $bodytextcolor;
	}
	/* WP Pagenavi */
	.wp-pagenavi {
		text-align: center;
		
		a,
		span {
			border: none;
		}
		.pages {
			margin-right: 1em;
		}
	}
}

/* Page links */
.page-links {
	font-weight: bold;
	
	span {
		font-weight: 300;
	}
}

/* Yoast breadcrumbs */
#yoast-breadcrumbs {
	@include font-size($bodyfontsize * 0.75); // 12px
	line-height: 1;

	span a {
		color: $bodytextcolor;
		font-weight: bold;
		text-decoration: none;
	}
}