/* =Entries
----------------------------------------------- */

/* Lead image */
.entry-lead img {
	display: block;
	width: 100%;
	height: auto;
}
.page-title {
	@include font-size(24);
	margin-bottom: 1em;
}
.hentry {
	margin-bottom: 30px;
	margin-bottom: 3rem;
	background: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	
	.entry-content > :last-child {
		margin-bottom: 0;
	}
	.entry-inner {
		padding: 20px 20px 0;
		padding: 2rem 2rem 0;
	}
	header,
	.entry-content {
		padding-bottom: 20px;
		padding-bottom: 2rem;
	}
	footer {
		padding: 20px;
		padding: 2rem;
		border-top: 1px solid #f6f6f6;
	}
}
.entry-title {
	margin: 0 0 0.2em;
}
#main .entry-title a {
	color: darken($bodytextcolor, 5%);
	text-decoration: none;
}

/* Post formats */
.archive-post {
	.format-aside,
	.format-status,
	.format-link,
	.format-chat,
	.format-quote,
	.format-audio,
	.format-video {
		header,
		.entry-cats-tags {
			display: none;
		}
	}
	.format-image {
		header {
			margin-bottom: 0;
		}
		.entry-title {
			@include font-size(24);
		}
	}
	.format-link .entry-content {
		font-weight: bold;
		@include font-size(24);
		
		a {
			text-decoration: none;
		}
	}
}

.page-links {
	margin: 0 0 20px;
	margin: 0 0 2rem;
	clear: both;
}
.page-links,
.entry-meta {
	a {
		text-decoration: none;
	}
}
.entry-meta {
	@include font-size($bodyfontsize * 0.75); // 12px
}

.entry-content blockquote {
	background: url(images/quote.png) top left no-repeat;
	margin: 0 1em 2em;
	padding-left: 2.5em;
	
	> :last-child {
	margin-bottom: 0;
	}
	cite {
		display: block;
		text-align: right;
		margin-top: 1em;
		@include font-size($bodyfontsize * 0.875); // 14px
	}
}