/* =Entries
----------------------------------------------- */

.page-title {
	@include font-size(24);
	margin-bottom: 1em;
}
.hentry {
	margin-bottom: 1.5em;
	position: relative;
	background: #fff;
	border: 1px solid #eee;
	padding: 1.25em;
}
/* Post format icons */
.hentry:before {
	display: block;
	position: absolute;
	top: 1.25em;
	margin-top: -4px;
	left: -52px;
	width: 52px;
	height: 52px;
	content: " ";
	background: url(images/post-format-icons.png);
}
.layout-boxed .hentry:before {
	display: none;
}
	.hentry.format-status:before {
		background-position: -52px 0;
	}
	.hentry.format-quote:before {
		background-position: -104px 0;
	}
	.hentry.format-link:before {
		background-position: -156px 0;
		margin-top: -14px;
	}
	.hentry.format-aside:before {
		background-position: -208px 0;
	}
	.hentry.format-image:before {
		background-position: -260px 0;
	}
	.hentry.format-gallery:before {
		background-position: -312px 0;
	}
	.hentry.format-video:before {
		background-position: -364px 0;
	}
	.hentry.format-audio:before {
		background-position: -416px 0;
	}
	.hentry.format-chat:before {
		background-position: -468px 0;
	}


.entry-title {
	margin: 0 0 0.2em;
}
.entry-title a {
	color: darken($bodytextcolor, 5%);
	text-decoration: none;
}
.entry-header {
	margin-bottom: 1.5em;
}
.page-links {
	padding: 0 0 1.5em;
	clear: both;
}
.page-links,
.entry-meta {
	@include font-size($bodyfontsize * 0.875); // 14px

	a {
		text-decoration: none;
	}
}

.entry-content blockquote :last-child {
	margin-bottom: 0;
}
.entry-content blockquote cite {
	display: block;
	text-align: right;
	margin-top: 1em;
	@include font-size($bodyfontsize * 0.875); // 14px
}