/* =Comments
----------------------------------------------- */

.commentlist {
	margin-left: 0;

	li .children {
		margin-left: 0;
	}
	li {
		list-style: none;
		margin-bottom: 20px;
	}
	li li {
		margin: 0.5em 0 0;
	}
	li.comment {
		min-height: 64px;
		padding-left: 72px;
		position: relative;
	}
	li.comment .avatar {
		position: absolute;
		top: 0;
		left: 0;
	}
	li.comment article {
		padding: 15px;
		background: #fff;
		box-shadow: 0 0 2px #d9d9d9;
		box-shadow: 0 0 2px rgba(0,0,0,0.15);
	}
	li.bypostauthor {

	}
	li :last-child {
		margin-bottom: 0;
	}
	.comment-content {
		margin-bottom: 1em;
	}
	header {
		font-weight: bold;
	}
	footer,
	.reply {
		@include font-size($bodyfontsize * 0.75); // 12px
	}
	header {
		margin-bottom: 1em;
	}
	.pingback,
	.trackback {
		@include font-size($bodyfontsize * 0.75); // 12px
	}
}