/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 2em;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	@include font-size($bodyfontsize * 0.75); // 12px
	
	ul {
		list-style: none;
		margin: 0;
	}
	* {
		max-width: 100%;
	}
	li {
		margin-bottom: 0.5em;
		
		ul {
			margin-left: 1em;
		}
	}
	select {
		width: 100%;
		@include box-sizing(border-box);
		
		&:focus {
			outline: none;
		}
	}
}
.widget:last-child,
.widget :last-child {
	margin-bottom: 0;
}
/* Search widget */
#searchsubmit {
	display: none;
}
#s {
	@include box-sizing(border-box);
	width: 100%;
	display: block;
	border-radius: 0;
	border: none;
	box-shadow: 0 0 2px #d9d9d9;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	padding: 0.5em;
	
	&:focus {
		outline: none;
		box-shadow: 0 0 2px #999;
		box-shadow: 0 0 2px rgba(0,0,0,0.5);
	}
}
/* Calendar widget */
#wp-calendar {
	width: 100%;
	
	caption, td, th {
		text-align: center;
		padding: 3px;
	}
	tfoot td,
	tfoot th {
		border-bottom: none;
	}
	#prev {
		text-align: left;
	}
	#next {
		text-align: right;
	}
}