.image-radio {
	opacity: 0;
	width: 0;
	height: 0;
	display: block;
	float: left;
}
.image-radio + label {
	display: block;
	float: left;
}
.image-radio + label img {
	border: 1px solid #bbb;
	margin: 0 10px 10px 0;
	display: block;
}
.image-radio:checked + label img {
	border-color: #333;
	opacity: 1;
	
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.75);
	box-shadow: 0 0 5px rgba(0,0,0,0.75);
}